body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

section {
  padding: 40px;
}

.container {
  margin: auto;
}

/* Common classes */

.primary-text {
  color: #56a79a;
}

.primary-background {
  background: #56a79a;
}

.sub-header {
  background: url('../images/showcase.jpeg') no-repeat center center;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}
