<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include partials/_head %>
  </head>
  <body>

    <% include partials/_header %>

  <!-- SUBHEADER -->

  <section class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </section>

<!-- MAIN PAGE -->
<section class="about">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12">
        <h2>
          <span class="primary-text">Who</span> We Are
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ut, accusamus eveniet. Aperiam assumenda quod ducimus labore nisi iusto delectus, dicta quae? Natus quidem quibusdam unde, consequuntur in nostrum ex?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis doloribus, asperiores accusamus. Blanditiis minima, rem quia eveniet ratione, officiis ea distinctio dolorem reiciendis ex expedita corporis modi voluptas, earum, quae!
        </p>
        <h2>
          <span class="primary-text">Who</span> We Are
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ut, accusamus eveniet. Aperiam assumenda quod ducimus labore nisi iusto delectus, dicta quae? Natus quidem quibusdam unde, consequuntur in nostrum ex?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis doloribus, asperiores accusamus. Blanditiis minima, rem quia eveniet ratione, officiis ea distinctio dolorem reiciendis ex expedita corporis modi voluptas, earum, quae!
        </p>
      </div>
    </div>
  </div>
</section>

  <!-- Company -->
  <section class="company">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h4>About</h4>
          <ul>
            <li><i class="fa fa-phone"></i> (617) 555-55555</li>
            <li><i class="fa fa-envelope"></i> contact@faztweb.com</li>
            <li><i class="fa fa-map"></i> 400 Main St, Boston MA</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>About Us</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4>NewsLetter</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos excepturi ea eligendi dolores iure, at nulla dolor iste dolore officiis porro nostrum corporis quis! Aperiam libero voluptatum nobis, laudantium numquam.</p>
          <form action="">
            <input type="text" name="email" placeholder="Enter your Email"/>
            <button type="button" name="button">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

    <% include partials/_footer %>
  </body>
</html>
