<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include partials/_head %>
  </head>
  <body>
    
    <% include partials/_header %>

    <!--SHOW CASE  -->
    <section class="showcase">
      <div class="container">
        <div class="row center-xs middle-xs">
          <div class="showcase-content center-xs middle-xs">
            <h1>
              Welcome to
              the <span class="primary-text">Fazt Theme</span>
            </h1>
            <p>A template built with HTML5, CSS3, FLEXBOX</p>
          </div>
        </div>
      </div>
    </section>

    <!-- FEATURES -->
    <section class="features">
      <div class="container">
        <div class="row center-xs middle-xs">
          <!-- title Features -->
          <div class="col-xs-12">
            <h2>Core Features</h2>
            <p>What's Include</p>
          </div>
          <!-- CARDS -->
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <i class="fa fa-telegram" aria-hidden="true"></i>
              <h4>Messaging</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <i class="fa fa-university" aria-hidden="true"></i>
              <h4>Payment</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">

            <div class="card">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <h4>Coded with Love ;)</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">

            <div class="card">
              <i class="fa fa-wrench" aria-hidden="true"></i>
              <h4>100% Support</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">

            <div class="card">
              <i class="fa fa-wheelchair" aria-hidden="true"></i>
              <h4>Plus Accesibility</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">

            <div class="card">
              <i class="fa fa-btc" aria-hidden="true"></i>
              <h4>Buy with Bitcoin</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- INFO SECTION -->
    <section class="info">
      <div class="container">
        <div class="row center-xs middle-xs">
          <div class="col-xs-12 col-sm-6">
            <img src="images/phone.png" alt=""/>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Core Features</h2>
            <ul>
              <li><i class="fa fa-check"></i> Fully Optimized</li>
              <li><i class="fa fa-check"></i> Free Support</li>
              <li><i class="fa fa-check"></i> Free Upgrades</li>
              <li><i class="fa fa-check"></i> Uptime Guarantee</li>
              <li><i class="fa fa-check"></i> Multiple Users</li>
              <li><i class="fa fa-check"></i> Plug & Play</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Company -->
    <section class="company">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h4>Contact us</h4>
            <ul>
              <li>
                <i class="fa fa-phone"></i> (617) 555-55555
              </li>
              <li>
                <i class="fa fa-envelope"></i> contact@faztweb.com
              </li>
              <li>
                <i class="fa fa-map"></i> 400 Main St, Boston MA
              </li>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-4">
            <h4>About Us</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

          <div class="col-xs-12 col-sm-4">
            <h4>NewsLetter</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos excepturi ea eligendi dolores iure, at nulla dolor iste dolore officiis porro nostrum corporis quis! Aperiam libero voluptatum nobis, laudantium numquam.</p>
            <form action="">
              <input type="text" name="email" placeholder="Enter your Email"/>
              <button type="button" name="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <% include partials/_footer %>
  </body>
</html>
