<!-- FOOTER -->
  <footer class="main-footer">
    <div class="container">
      <div class="row center-xs">
        <div class="col-xs-12">
          <p>
            Copyright &copy; 2017 | <a href="http://www.faztweb.com">Faztweb.com</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
