<!-- HEADER -->
<header class="main-header">
  <div class="container">
    <div class="row end-sm middle-xs">
      <div class="col-xs-12 col-sm-2 center-xs">
        <a href="/">
          <img src="/images/fazt_logo.png" alt="">
        </a>
      </div>
      <div class="col-xs-12 col-sm-10 col-lg-10">
        <nav class="navbar center-xs end-sm">
          <ul class="">
            <li class="current">
              <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i> Home
              </a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-building-o" aria-hidden="true"></i> About
              </a>
            </li>
            <li>
              <a href="/services">
                <i class="fa fa-database" aria-hidden="true"></i> Services
              </a>
            </li>
            <li>
              <a href="/contact">
                <i class="fa fa-envelope" aria-hidden="true"></i> Contact
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
